@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

:root {
    /* Primary Colors */
    --strong-cyan: hsl(171, 66%, 44%);
    --light-blue: hsl(233, 100%, 69%);

    /* Neutral Colors */
    --dark-grayish-blue: hsl(210, 10%, 33%);
    --grayish-blue: hsl(201, 11%, 66%);
}

/* Base Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}
body {
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    max-width: 480px;
    margin: 0 auto;
    overflow-x: hidden;
    background: url('../images/bg-header-mobile.png') no-repeat left top;
    background-size: 100vw;
}
img {
    display: block;
    height: 100%;
    object-fit: contain;
    margin: 0 auto;
}
button {
    display: inline-block;
    padding: 1rem 0;
    border-radius: 30px;
    border: none;
    color: hsl(0, 0%, 100%);
    font-family: inherit;
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: .5px;
}
h1 {
    font-size: 1.98rem;
}
h2 {
    font-size: 1.8rem;
}
h3 {
    font-size: 1.5rem;
}
p {
    font-size: 1rem;
}
li {
    list-style-type: none;
}
section {
    margin: 0 auto 8rem;
}

/* Clipboard Landing Page Styles*/
.clipboard__header,
.clipboard__main {
    width: 86%;
    margin: 0 auto;
}
.clipboard__main {
    margin-bottom: 10rem;
}
.heading {
    color: var(--dark-grayish-blue);
    font-weight: 600;
    margin-bottom: 1.2rem;
}
.description__text {
    color: var(--grayish-blue);
    margin-bottom: 3rem;
    line-height: 1.6;
}
.clipboard__header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.clipboard__header .clipboard__logo {
    margin: 0 auto 5rem;
}
.clipboard__btns {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
}
.iOS__btn {
    background-color: var(--strong-cyan);
    box-shadow: 5px 5px 9px -4px var(--strong-cyan);
    border-bottom: 3px solid hsl(171, 66%, 35%);
}
.Mac__btn {
    background-color: var(--light-blue);
    box-shadow: 5px 5px 9px -4px var(--light-blue);
    border-bottom: 3px solid hsl(233, 55%, 58%);
}
.snippets {
    margin-bottom: 11rem;
}
.snippets__heading {
    margin-top: 3.2rem;
}
.snippets__description {
    margin-bottom: 4.5rem;
}
.snippets__img,
.snippets__img img,
.access__img,
.access__img img {
    width: 100%;
}
.snippets__img img {
    margin-bottom: 4rem;
}
.features__heading {
    margin-bottom: .8rem;
}
.access__description {
    margin-bottom: 4rem;
}
.workflow__heading {
    margin-bottom: .8rem;
}
.workflow__description {
    margin-bottom: 5rem;
}
.workflow__icon {
    margin: 0 auto 3rem;
}
.partners {
    margin: 0 auto 12rem;
}
.partners__logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}
.clipboard__footer {
    background-color: hsl(220, 17.65%, 96.67%);
    padding: 3.5rem 0 3rem;
    position: absolute;
    left: 0;
    width: 100%;
}
.clipboard__footer .clipboard__logo {
    margin: 0 auto 3rem;
    width: 60px;
}
.site__links {
    margin-bottom: 3rem;
}
.site__link {
    color: var(--dark-grayish-blue);
    margin: 0 auto 1rem;
}
.social__links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 50%;
    margin: 0 auto;
}

/* Media Queries - Large Screen Sizes */
@media screen and (min-width: 768px) {
    body {
        max-width: 1024px;
        background: url('../images/bg-header-desktop.png') left top no-repeat;
        background-size: 100vw;
    }
    button {
        font-size: 1rem;
    }
    .clipboard__btns {
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
    .clipboard__btn {
        padding: 1rem 5rem;
    }
    .partners__logo {
        display: grid;
        gap: 5rem 2rem;
    }
    .google__logo {
        grid-area: 1 / 1 / 2 / 2;
    }
    .ibm__logo {
        grid-area: 2 / 1 / 3 / 2;
    }
    .microsoft__logo {
        grid-area: 1 / 3 / 2 / 4;
    }
    .hp__logo {
        grid-area: 2 / 3 / 3 / 4;
    }
    .vector__logo {
        grid-area: 3 / 2 / 4 / 3;
    }
}

@media screen and (min-width: 1024px) {
    body {
        max-width: 2560px;
    }
    h1 {
        font-size: 3rem;
    }
    h2 {
        font-size: 2.2rem;
    }
    h3 {
        font-size: 1.2rem;
        letter-spacing: -0.5px;
    }
    p {
        font-size: 1.2rem;
    }
    section {
        margin: 0 auto 8rem;
    }
    .clipboard__header,
    .clipboard__main {
        width: 100%;
    }
    .clipboard__header {
        width: 70%;
        margin: 0 auto;
    }
    .clipboard__btns {
        justify-content: center;
    }
    .clipboard__btn {
        padding: 1rem 2.5rem;
    }
    h2 + p {
        font-size: 1.05rem;
    }
    .snippets__heading,
    .snippets__description {
        width: 670px;
        margin-left: auto;
        margin-right: auto;
    }
    .snippets__features {
        display: flex;
    }
    .snippets__img img {
        position: absolute;
        width: 100px;
    }
    .features__descriptions {
        text-align: left;
    }
    h3 + p {
        font-size: 1rem;
    }
}

@media screen and (min-width: 1200px) {
    .clipboard__header {
        width: 60%;
    }
    .clipboard__header .clipboard__logo {
        margin: -3rem auto 5rem;
    }
}